body {margin-top: 70px;}

h1, h2, h3, h4 {
font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 18px;
  text-transform: uppercase;
}

h2{
  font-size: 18px;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.carousel-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 1px #333333;
    bottom: 20px;
    color: #FFFFFF;
    /*height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    
    width: 100%;*/
}

.container .jumbotron {
 border-radius: 0px;
}

.thumb {
  margin-bottom: 30px;
}

footer {
  background-color: #ccc;
}

.topnav > li > a {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

@media screen and ( min-width: 768px ) {
  .topnav > li > a {
    font-size: 10px;
  }
}

@media screen and ( min-width: 992px ) {
  .topnav > li > a {
    font-size: 14px;
  }
}

@media screen and ( min-width: 1200px ) {
  .topnav > li > a {
    font-size: 14px;
  }
}

